/* .css-1cndkqf-MuiToolbar-root {
    background: #dab0b0;

}


.css-19r6kue-MuiContainer-root{
    background:   #dab0b0;
   
}
.css-1oqqzyl-MuiContainer-root {

    background:  #dab0b0

}
.css-1083xa6-MuiTypography-root{
    color:black
}

.css-h7cdpm-MuiTypography-root {
    color:black
}

.css-i4bv87-MuiSvgIcon-root{
    color:black   
}
 */

/* -------------------------- the direct log color -------------------------- */
/* 
.css-m5x0z-MuiTypography-roo{
    color:blue
} */
